# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Generated data (keep raw CSVs, ignore processed)
data/*.duckdb
data/*.parquet

# MLflow
models/mlruns/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
